$base:1rem;
$xx-small:0.75*$base;
$x-small:0.875*$base;
$small:0.9375*$base;
$medium:$base;
$large:1.125*$base;
$x-large:1.2*$base;
$x2-large:1.25*$base;
$x3-large:1.375*$base;
$x4-large:1.4375*$base;
$x5-large:1.5*$base;
$x6-large:1.75*$base;
$x7-large:2*$base;
$x8-large:2.5*$base;
