.m-24 {
  margin: 24px;
}
.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.ml-24 {
  margin-left: 24px;
}

.m-16 {
  margin: 16px;
}
.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.ml-16 {
  margin-left: 16px;
}

.m-12 {
  margin: 12px;
}
.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.mt-12 {
  margin-top: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.ml-12 {
  margin-left: 12px;
}

.m-8 {
  margin: 8px;
}
.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.ml-8 {
  margin-left: 8px;
}

.m-6 {
  margin: 6px;
}
.mt-6 {
  margin-top: 6px;
}
.mx-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.mr-6 {
  margin-right: 6px;
}
.mb-6 {
  margin-bottom: 6px;
}
.ml-6 {
  margin-left: 6px;
}

.m-4 {
  margin: 4px;
}
.mt-4 {
  margin-top: 4px;
}
.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mr-4 {
  margin-right: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.ml-4 {
  margin-left: 4px;
}

.m-2 {
  margin: 2px;
}
.mt-2 {
  margin-top: 2px;
}
.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mr-2 {
  margin-right: 2px;
}
.mb-2 {
  margin-bottom: 2px;
}
.ml-2 {
  margin-left: 2px;
}

.m-0 {
  margin: 0px !important;
}
.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
